<!-- 页脚部分 -->
		<!-- 清除浮动 -->
		<div class="clearBoth"></div>
		<div class="footer">
			<div class="footer-one">
				<h3>Our Services</h3>
				<ul>
					<li>
						<span class="fa fa-gears icon"></span>
						<h4 class="mission">Fugiat Quo</h4>
						<p class="description">Sceleris Prae </p>
					</li>
					<li>
						<span class="fa fa-group icon"></span>
						<h4 class="mission">Voluptas </h4>
						<p class="description">Scele Praesent </p>
					</li>
					<li>
						<span class="fa fa-briefcase icon"></span>
						<h4 class="mission">Quo fugiat</h4>
						<p class="description">Scele Praesent </p>
					</li>
					<li>
						<span class="fa fa-list-alt icon"></span>
						<h4 class="mission">Voluptas</h4>
						<p class="description">Scele Aesent </p>
					</li>
				</ul>
			</div>
			<div class="footer-two">
				<div class="fixImg">
					<h3>Today Special</h3>
					<p>In malesuada accumsan felis, a imperdiet arcu blandit sed. Ut id faucibus eros. Fusce sed vulputate dui, non consectetur felis. Etiam id enim sem. Suspendisse commodo tempor magna</p>
				</div>
			</div>
			<div class="footer-three">
				<h3>Newsletter</h3>
				<p>Mauris est odio laoreet laoreet sapien non, sollicitudin bibendum nulla amet purus sodales blandit.</p>
				<input type="text" placeholder="Enter your Email...">
				<input type="submit" value="Subscribe">
			</div>
			<div class="footer-four">
				<div class="footer-four-cont">
					<div class="footer-four-cont-one">
						<h3>Holiday Spot</h3>
						<i class="fa fa-facebook" style="margin-left:110px;"></i>
						<i class="fa fa-twitter"></i>
						<i class="fa fa-google-plus"></i>
						<p>Aenean vitae metus sit amet purus sodales blandit. Nullam ut dolor eu urna viverra semper. Mauris est odio, laoreet laoreet sapien non, sollicitudin bibendum nulla.</p>
					</div>
					<div class="footer-four-cont-two">
						<ul class="ul-one">
							<li>QUICK LINKS</li>
							<li>> Home</li>
							<li>> About</li>
							<li>> Tours</li>
							<li>> Short Codes</li>
							<li>> Contact</li>
						</ul>
					</div>
					<div class="footer-four-cont-two">
						<ul class="ul-one">
							<li>CONTACT INFO</li>
							<li>> 123 Broome St,2nd Block</li>
							<li>> NY 10002, New York</li>
							<li>> Phone: +01 111 222 3333</li>
							<li>> mail@example.com</li>
						</ul>
					</div>
					
				</div>
				<div class="footer-five">
					<p>Copyright © 2017.Company name All rights reserved</p>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/index.js"></script>
</body>
</html>
