<% include header%>

<!--轮播-->
		<div class="myswiper">
				<ul>
					<li>
						<h3>网易云音乐经典评论 </h3>
						<p>Hear the stories
							<br>
							<br>
							听见那些故事
						</p>
					</li>
					<li>
						<h3>网易云音乐</h3>
						<p>音乐有态度 </p>
					</li>
					<li>
						<h3>Let it be me  </h3>
						<p>但愿陪在你身边的人是我 </p>
					</li>
					<li>
						<h3>网易云音乐经典评论 </h3>
						<p>Hear the stories
							<br>
							<br>
							听见那些故事
						</p>
					</li>
				</ul>
				<div class="smab">
					<span class="active1"></span>
					<span></span>
					<span></span>
				</div>
				<ol>
					<li class="next"><</li>
					<li class="prev">></li>
				</ol>
		</div>
<!-- 内容部分 -->
		<div class="cont">
			<div class="cont-one">
				<div class="cont-one-left">
					<h3>Temporibus autem quibusdam</h3>
						<p class="mytaici">
							十年前第一次和你说晚安，我激动的失眠了一整夜，十年后的今晚和你说晚安，不再失眠，但你的头压得我胳膊好酸。
						</p>
						<p class="myinfo">
							----------<晚安>热评 
							<br>
							<span class="dianzan"><i class="fa fa-heart"></i>点赞</span>
						</p>
						<p class="mytaici">
							18岁的时候可以为了一个牵手激动地整夜睡不早觉，20岁的时候会为了一个谎言流泪到深夜，而现在所有事情都显得那么无关紧要。
						</p>
						<p class="myinfo">
							----------<消失的光年>热评
							<br>
							<span class="dianzan"><i class="fa fa-heart"></i>点赞</span>
						</p>
						<a href="" style="margin:10px 0px 0px 180px;display:inline-block">更多经典热评</a>
				</div>
				<div class="cont-one-right">
					<img src="images/yun2.jpg" alt="">
				</div>
			</div>

			<div class="cont-two">
				<div class="cont-two-left">
					<img src="images/yun4.jpg" alt="">
				</div>
				<div class="cont-two-right">
					<h3>Our Latest Trips</h3>
					<p>Duis nulla nulla, faucibus id diam ac, luctus sodales purus. Quisque nibh ipsum, venenatis vitae imperdiet eu, commodo nec sem. Ut accumsan tellus quis velit mattis sollicitudin. Etiam ullamcorper sapien sed purus suscipit, eu congue justo pulvinar.</p>
				</div>
			</div>
			<div class="cont-three">
				<div class="cont-three-left">
					<h3>Our Latest Trips</h3>
					<p>Duis nulla nulla, faucibus id diam ac, luctus sodales purus. Quisque nibh ipsum, venenatis vitae imperdiet eu, commodo nec sem. Ut accumsan tellus quis velit mattis sollicitudin. Etiam ullamcorper sapien sed purus suscipit, eu congue justo pulvinar.</p>
				</div>
				<div class="cont-three-right">
					<img src="images/yun6.jpg" alt="">
				</div>
			</div>
		</div>
<% include footer %>