<% include header %>
<div class="welcome portfolio">
	<img src="/images/2.jpg" alt="" style="width:1349px;height:300px;">
		<div class="container">  
			<h3 class="agileits-title">Login</h3>  
			<div class="gallery_gds">

				<div class="filtr-container">
					<input type="text" placeholder="账号"> <br>	
					<input type="password" placeholder="密码"> <br>	
					<button class="btn">登录</button>	
					<a href="/reg">注册&nbsp |</a>
					<a href="#">忘记密码</a>
					<a href="/admin">管理员登录</a>



				   <div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
<% include footer%>